<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <h1 class="display-3">Invalid</h1>
    <p class="lead">bad credentials user, what are you upto?</p>
    <hr>
   

  </div>
</div>

<%- include('partials/footer') %>